
*.xcscheme

*.xcuserstate

*.apk

*.class

*.d

*.o

*.a

*.aidl

*.store

src/HermesForces/proj.android/bin/*

src/HermesForces/proj.android/assets/*

src/HermesForces/proj.android-studio/app/assets/*

*.xcbkptlist

*.obj

*.tlog

*.pdb

src/HermesForces/proj.win32/Debug.win32/*

*.sdf

src/HermesForces/proj.win32/BombTerrorist.vcxproj.user

*.log

src/HermesForces/cocos2d/*

src/HermesForces/google-play-services/*
src/HermesForces/wp_eclipse/*
src/HermesForces/wp_eclipse_old_gps/*
*.idb

src/HermesForces/cocos2d/*

*.suo
*.so
*.so
*.opensdf
*.py
