<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bomb_marine.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,366},{60,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,118}}</string>
				<key>sourceSize</key>
				<string>{60,118}</string>
			</dict>

			<key>sub_mar_hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{200,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,39}}</string>
				<key>sourceSize</key>
				<string>{200,42}</string>
			</dict>

			<key>sub_mar_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,47},{200,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{200,39}}</string>
				<key>sourceSize</key>
				<string>{200,46}</string>
			</dict>

			<key>sub_mar_hit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,87},{200,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{200,42}}</string>
				<key>sourceSize</key>
				<string>{200,46}</string>
			</dict>

			<key>sub_mar_hit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{200,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,46}}</string>
				<key>sourceSize</key>
				<string>{200,46}</string>
			</dict>

			<key>sub_mar_hit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,46}}</string>
				<key>sourceSize</key>
				<string>{200,46}</string>
			</dict>

			<key>sub_mar_hit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{200,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{200,42}}</string>
				<key>sourceSize</key>
				<string>{200,46}</string>
			</dict>

			<key>water_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{169,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,52}}</string>
				<key>sourceSize</key>
				<string>{169,52}</string>
			</dict>

			<key>water_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,419},{145,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,52}}</string>
				<key>sourceSize</key>
				<string>{145,52}</string>
			</dict>

			<key>water_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{149,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,52}}</string>
				<key>sourceSize</key>
				<string>{149,52}</string>
			</dict>

			<key>water_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,313},{169,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,52}}</string>
				<key>sourceSize</key>
				<string>{169,52}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>