<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>is_iraq_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,114},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,186},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,143},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,100},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,57},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_bomb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_bomb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_bomb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,214},{87,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,41}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_bomb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,43},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_bomb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{90,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,42}}</string>
				<key>sourceSize</key>
				<string>{90,42}</string>
			</dict>

			<key>is_iraq_gun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{90,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,56}}</string>
				<key>sourceSize</key>
				<string>{90,56}</string>
			</dict>

			<key>is_iraq_gun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,157},{90,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,56}}</string>
				<key>sourceSize</key>
				<string>{90,56}</string>
			</dict>

			<key>is_iraq_gun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{90,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,56}}</string>
				<key>sourceSize</key>
				<string>{90,56}</string>
			</dict>

			<key>is_iraq_gun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,57},{90,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,56}}</string>
				<key>sourceSize</key>
				<string>{90,56}</string>
			</dict>

			<key>is_iraq_gun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{90,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,56}}</string>
				<key>sourceSize</key>
				<string>{90,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>