<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>is_fire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,188},{50,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,61}}</string>
				<key>sourceSize</key>
				<string>{50,61}</string>
			</dict>

			<key>is_fire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,62},{50,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,61}}</string>
				<key>sourceSize</key>
				<string>{50,61}</string>
			</dict>

			<key>is_fire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{50,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,61}}</string>
				<key>sourceSize</key>
				<string>{50,61}</string>
			</dict>

			<key>is_fire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,126},{50,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,61}}</string>
				<key>sourceSize</key>
				<string>{50,61}</string>
			</dict>

			<key>is_knife_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,126},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,74}}</string>
				<key>sourceSize</key>
				<string>{50,74}</string>
			</dict>

			<key>is_knife_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,75},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,74}}</string>
				<key>sourceSize</key>
				<string>{50,74}</string>
			</dict>

			<key>is_knife_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,150},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,74}}</string>
				<key>sourceSize</key>
				<string>{50,74}</string>
			</dict>

			<key>is_knife_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,74}}</string>
				<key>sourceSize</key>
				<string>{50,74}</string>
			</dict>

			<key>is_shoot_air_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,80},{39,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,79}}</string>
				<key>sourceSize</key>
				<string>{40,79}</string>
			</dict>

			<key>is_shoot_air_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,124},{40,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,79}}</string>
				<key>sourceSize</key>
				<string>{40,79}</string>
			</dict>

			<key>is_shoot_air_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{39,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,79}}</string>
				<key>sourceSize</key>
				<string>{40,79}</string>
			</dict>

			<key>is_shoot_air_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{39,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{39,79}}</string>
				<key>sourceSize</key>
				<string>{40,79}</string>
			</dict>

			<key>is_shoot_air_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,124},{40,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,79}}</string>
				<key>sourceSize</key>
				<string>{40,79}</string>
			</dict>

			<key>is_shoot_gun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,63},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,62}}</string>
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>

			<key>is_shoot_gun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,62}}</string>
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>

			<key>is_shoot_gun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,62}}</string>
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>

			<key>is_shoot_gun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,62}}</string>
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>

			<key>is_shoot_gun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,62}}</string>
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>

			<key>is_victim_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,201},{22,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{22,38}}</string>
				<key>sourceSize</key>
				<string>{25,38}</string>
			</dict>

			<key>is_victim_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,201},{22,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{22,38}}</string>
				<key>sourceSize</key>
				<string>{27,38}</string>
			</dict>

			<key>victim_cage.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{53,44}}</string>
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>