<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>number_box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,38},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,114},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,95},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,76},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,57},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,38},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,57},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,0},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,190},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,19},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,133},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,38},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,19},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,19},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,228},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,209},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,190},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,171},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,152},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>number_box_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,133},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>